/* AGREGA ESTO */
.bracket{
  display:flex;
  gap:40px;
  justify-content:center;
  min-width:1200px;
}

.side{
  display:flex;
  flex-direction:column;
  gap:20px;
}

.center{
  display:flex;
  flex-direction:column;
  gap:20px;
  align-items:center;
}

.series-card{
  background:#111;
  color:#fff;
  padding:12px;
  border-radius:12px;
}
