
/* FIX FINAL AJUSTE BORDE DERECHO */
.tie-card{
  overflow:visible;
  padding-right:18px;
}

.match-block{
  overflow:visible;
  padding-right:12px;
}

/* achico un toque columnas internas para que no empuje */
.team-row{
  grid-template-columns:34px 40px minmax(200px,1fr) minmax(200px,1fr) 40px 34px;
}

/* TITULOS MÁS CHICOS */
[data-round-card="q1"] .tie-title,
[data-round-card="q2"] .tie-title,
[data-round-card="q3"] .tie-title,
[data-round-card="q4"] .tie-title{
  font-size:22px;
}

[data-round-card="s1"] .tie-title,
[data-round-card="s2"] .tie-title{
  font-size:22px;
}

/* FINAL MÁS GRANDE */
[data-round-card="final"] .tie-title{
  font-size:30px;
}
